on:
  pull_request:
    types: [closed]

jobs:
  Release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'publish')
    permissions:
      contents: write
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ vars.PUBLISH_ARTIFACT }}
          path: .
